<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="login-container">
    <h2>Login</h2>
    <form *ngIf="!fireLogin" fxLayout="column" fxLayoutGap="1rem" [formGroup]="fireLoginForm">
      <mat-form-field>
        <input placeholder="Correo electrónico" matInput type="text" formControlName="email">
        <mat-error *ngIf="fireEmailFormControl.hasError('email') && !fireEmailFormControl.hasError('required')">
          Por favor ingresa un email válido
        </mat-error>
        <mat-error *ngIf="fireEmailFormControl.hasError('required')">
          Correo electrónico <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Contraseña" type="password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="fireLogIn()"
        [disabled]="fireLoginForm.invalid || isLoading">ENTRAR
      </button>
    </form>
    <form *ngIf="fireLogin" fxLayout="column" fxLayoutGap="1rem" [formGroup]="caLoginForm">
      <mat-form-field>
        <input placeholder="Correo electrónico" matInput type="text" formControlName="email">
        <mat-error *ngIf="caEmailFormControl.hasError('email') && !caEmailFormControl.hasError('required')">
          Por favor ingresa un email válido
        </mat-error>
        <mat-error *ngIf="caEmailFormControl.hasError('required')">
          Correo electrónico <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Contraseña" type="password" formControlName="password">
      </mat-form-field>
      <mat-form-field>
        <input placeholder="Tenant ID" matInput type="text" formControlName="tenant">
        <mat-error *ngIf="tenantFormControl.hasError('email') && !tenantFormControl.hasError('required')">
          Por favor ingresa un email válido
        </mat-error>
        <mat-error *ngIf="tenantFormControl.hasError('required')">
          Tenant ID <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="caLogIn()" [disabled]="caLoginForm.invalid || isLoading">ENTRAR
      </button>
    </form>
  </mat-card>
</div>
